<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

<div class="container">

    <h2>Search for books</h2>
    <br>
    <form th:action="@{/books/search}" th:method="post">

        <label for="bookName">Enter a book name: </label>
        <input type="text" name="bookName" id="bookName"/>
        <br/>

        <input type="submit" value="search!">
    </form>
    <br>

    <div th:if="${books}">
        <div th:if="${books.isEmpty()}">
            <span>Books not found</span>
        </div>

        <div th:each="book : ${books}">
            <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>

            <div th:if="${book.getOwner() != null}">
                <span>The book is now at : </span> <span th:text="${book.getOwner().getName()}"></span>
            </div>

            <div th:if="${book.getOwner() == null}">
                <span>Book is free</span>
            </div>

            <hr/>
        </div>
    </div>

</div> <!--.container-->

</body>

</html>